<template id = "welcome-page-additional-content-template">
            <div style="display: block; margin: 20px 0px; text-align: center;">
                <a style="color: #fff;" href="{{ meet_imprint_url }}" rel="noopener" target="_blank">Impressum</a> | <a style="color: #fff;" href="{{ meet_privacy_url }}" rel="noopener" target="_blank">Datenschutz</a>
            </div>
        </template>

